* {
  font-family: sans-serif;
  color: #333333;
}

body {
  padding: 8pt 16pt;
}

#title {
  position: relative;
}

.prelim {
  position:absolute;
  color: red;
  font-weight: 600;
  font-size: 0.6em;
  transform: translate(-0.5em, -0.7em) rotate(-7deg);
}

#psf-canvas {
  margin: 0.6em;
}

#etc {
  display: grid;
  grid: auto / 34em auto;
  max-width: 1200px;
}

fieldset {
  margin-bottom: 1em;
}

.input-table {
  display: grid;
  grid-row-gap: 0.5em;
  grid: auto auto / 12em auto 0;
}

.input-table input {
  border: solid 2px lightgray;
  padding: 0.1em 0.5em;
}

input[data-invalid] {
  background-color: lightpink;
  border: solid 2px lightcoral;
}

input:disabled {
  color: lightgray;
}

#etc-output
input:read-only {
  background-color: transparent;
  color: #333333;
  border: none;
  border-bottom: 2px dotted lightgray;
  user-select: text;
  outline: none;
}
#etc-output
input[data-invalid] {
  background-color: lightpink;
  border: none;
}

.input-table .unit {
  position: relative;
  width: 15.0em;
  left: -15.7em;
  top: 0.1em;
  text-align: right;
  color: gray;
  font-size: 0.9em;
  pointer-events: none;
}

.expand {
  display: inline-block;
  margin: 8pt 0px 0pt;
  width: 100%;
  padding: 3pt 0 0;
  background-color: transparent;
  color: #666;
  cursor: pointer;
  text-align: left;
  border: none;
  outline: none;
}

.expand.active {
  padding: 3pt 0 6pt;
}

.expand:hover {
  text-decoration: underline;
}

.expand:after {
  position: relative;
  content: '\02795'; /* Unicode character for "plus" sign (+) */
  font-size: 6pt;
  float: right;
  top: 2pt;
  transition: 0.5s;
}

.expand.active:after {
  content: "\2796"; /* Unicode character for "minus" sign (-) */
  content: '\02795'; /* Unicode character for "plus" sign (+) */
  transform: rotate(45deg);
}

.hidden-panel {
  max-height: 0;
  overflow: hidden;
  transition: max-height 2s ease-out;
}

.hidden-panel.active {
  max-height: none;
  overflow: visible;
  transition: max-height 2s ease-out;
}

/* Chrome, Safari, Edge, Opera */
.input-table input::-webkit-outer-spin-button,
.input-table input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
.input-table input[type=number] {
  -moz-appearance: textfield;
}

#etc ul {
  padding-left: 1.0em;
}
